/* mobile screen responsive */

@media screen and (max-width:576px){

    /* header responsive start */
    
    .nav-main{
        justify-content:space-between;
    }

    .nav-left-title{
        font-size:2.7rem;
        margin-top:15%;
        margin-left:-36px;
    }

    .bars-icon{
        display:block;
        margin-top:19%;
        margin-left:200px;
    }

    .nav-menu-container{
        display:none;
    }

    .content-parent{
        grid-template-columns:repeat(1, 1fr);
    }

    .header-text-content{
        margin-top:150px;
        margin-left:0;
    }

    .header-text-content h1{
        font-size:3.1rem;
        margin-left:30px
    }

    .header-text-content p{
        width:70%;
        font-size:1.35rem;
        margin-top:3%;
        margin-left:5%;
    }

    .header-text-content div{
        margin-top:7%;
        margin-left:5%;
    }

    .header-text-content .primary-btn{
        font-size:1rem;
        width:34%;
        height:50px;
    }

    .header-text-content #download-app{
        font-size:1rem;
        width:34%;
        height:50px;
    }

    .header-image-content img{
        margin-top:25%;
        margin-left:-24%;
    }

    .absolute-1{
        margin-bottom:3%;
        margin-left:-19%;
    }

    .absolute-2{
        margin-bottom:34%;
        margin-left:-10%;
    }

    #play-icon{
     margin-bottom:-142px;
     margin-left:0.9rem;
    }

     /* header responsive end */

     /* habits section responsive start */

     .habits-section{
        position:relative;
        bottom:4.4rem;
        margin-left:0.4rem;
     }

     .habits-text-content{
        text-align:center;
     }

     .habits-text-content #habits-description{
        font-size:0.7rem;
        text-align:center;
     }

     .habits-text-content h1{
        font-size:1.3rem;
     }

     .habits-image-content{
        grid-template-columns:1fr;
        row-gap:1.4rem;
     }

     /* habits section responsive end */

     /* website creator responsive start */

     .website-creator-container{
        margin-top:-10%;
        flex-direction:column;
     }

     .creator-image{
        margin-right:50%;
     }

     .creator-information{
        margin-top:1.6rem;
        width:100%;
        text-align:center;
     }

     .creator-heading{
       font-size:1.5rem;
     }

     #web-developer{
        font-size:2.2rem;
     }

     .creator-data{
        font-size:0.7rem;
        margin-bottom:20px;
     }

     /* website creator responsive end */

     /* run easily section responsive start */

     .run-easily-section{
        width:80%;
        margin-top:20%;
        margin-right:45px;
     }

     .full-content-parent{
        flex-direction:column;
        justify-content:center;
     }

     .run-easily-title{
        margin-left:-1.1rem;
        font-size:2.4rem;
     }

     .run-easily-text-content p{
        /* padding:20px; */
        margin-left:-7%;
     }

     #run-easily-btn{
       width:100%;
       font-size:1rem;
       margin-left:-20px;
     }

     .run-easily-image-content img{
        width:100%;
        margin-top:2rem;
        margin-left:-115px;
     }

     /* run easily section responsive end */

     /* gym accessories section responsive start */

     .gym-accessories-section{
        height:1250px;
        margin-top:20%;
     }

     .first-gym-accessories-content, 
     .second-gym-accessories-content{
        flex-direction:column;
        box-shadow:none;
     }

     .first-image-content img{
        width:100%;
        height:240px;
     }

     .first-gym-accessories-content .first-text-content{
        width:100%;
        text-align:center;
        margin-top:25px;
    }

    .first-text-content h3{
        font-size:1.6rem;
    }

    .first-text-content p{
        font-size:0.85rem;
        margin-left:30px;
    }

    .second-gym-accessories-content{
        margin-top:15%;
     }

    .second-gym-accessories-content .second-text-content{
        width:100%;
        text-align:center;
    }

    .second-text-content h3{
        font-size:1.6rem;
    }

    .second-text-content p{
        font-size:0.85rem;
    }

     .second-image-content img{
        width:100%;
        height:240px;
        margin:0;
     }

     /* gym accessories section responsive end */
     

     /* BMI section responsive start */

     .bmi-description{
        margin-left:30px;
     }
     
     .bmi-description h2{
        font-size:2.1rem;
     }

     #bmi-introduction{
        font-size:1.1rem;
     }

     .bmi-all-content{
        flex-direction:column;
     }

     .bmi-table-content h3{
        font-size:1.2rem;
     }

     .bmi-table-content{
        width:90%;
        margin-left:10px;
        margin-top:3rem;
     }


     .bmi-table-content td{
        font-size:0.8rem;
     }

     .bmi-input-content{
        width:100%;
    }

    .input-content-introduction h3{
        font-size:1.5rem;
    }

    .input-content-introduction p{
        font-size:1.3rem;
    }
    
    .input-content{
        width:90%;
        display:grid;
        grid-template-columns:1fr 1fr;
    }

    .input1{
        width:167px;
        height:50px;
    }
    .input2{
        width:167px;
        height:50px;
        margin-left:-64%;
    }
    .input3{
        width:167px;
        height:50px;
    }
    .select-gender{
        width:167px;
        height:50px;
        margin-left:-64%;
    }
    .activity-factor{
        width:355px;
        height:47px;
    }

    .bmi-input-content button{
        width:54%;
    }

     /* BMI section responsive end */


     /* team section responsive start */

     .team-image-content{
        grid-template-columns:1fr;
     }

     .team-section-title{
        font-size:1.4rem;
     }

     .team-section-description{
         font-size:0.7rem;
     }

     .first-trainer-img, 
     .fourth-trainer-img{
        display:none;
     }

    #short-name{
        display:block;
    }

    #second-trainer-name, 
    .third-trainer-img{
        display:none;
    }

    .third-trainer-img{
        display:block;
        height:88%;
    }

    .fifth-trainer-img img{
        height:88%;
        margin-top:0.5rem;
    }

    .sixth-trainer-img img{
        height:88%;
        margin-top:0.5rem;
        position:relative;
    }

    #sixth-trainer-name, 
    #sixth-trainer-position{
        position:relative;
        bottom:17%;
    }
     
     /* team section responsive end */


     /* footer responsive start */

     .footer-details-container{
        flex-direction:column;
     }

     .fitness-description{
        width:100%;
        margin-left:-3rem;
     }

     .information-list1{
        margin-top:4.8rem;
        margin-left:-2.8rem;
     }

     .information-list2{
        margin-top:0;
        margin-left:-2.8rem;
     }

     #horizontal-line{
        width:90%;
     }

     .fitness-copyright{
        margin-left:-4.1rem;
     }

     /* footer responsive end */
}